html{
	background-color: #6A02A1 !important;
}

div.ui-content{
	background-color: #6A02A1;	
	height: 100%
}

.ui-body-c{
	color: #0DECBA;
	text-shadow: 0 1px 0;
}

.ui-title{
	background-color: #0DECBA !important;

}

.ui-header{
background-color: #0DECBA !important;
border-color: #0DECBA;
}

.ui-bar-a{
	text-shadow: 0 0px 0 !important;
	background-color: #0DECBA !important;
}

div#header{
background-color: #6A02A1;		
margin: 0;
}

div#bottom{
	background-color: #6A02A1;
}